# Application settings
SECRET_KEY=your-secret-key-for-development

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=your-line-channel-access-token

# Database settings
USE_FIRESTORE=false
# GOOGLE_APPLICATION_CREDENTIALS=path/to/your/firebase-credentials.json
# Supabase settings
USE_SUPABASE=false
# SUPABASE_URL=your-supabase-url
# SUPABASE_KEY=your-supabase-api-key
